@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  transition: 0.5s;
}

/* init */
:root {
  --light-cover: rgba(0, 0, 0, 0.5);
  --light-text: #fff;
  --hover: gold;
}

.all-container {
  color: var(--light-text);
}

.video-container {
  position: absolute;
  /* inset:0; 0 10px 20px 30px 상 우 하 좌*/
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.video-container video{
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    object-position: 100%;
}
.video-container::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

/* .video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.page-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

.page-header .inner {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  height: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header h1 {
  position: absolute;
  left: 50px;
  top: 50%;
  translate: 0 -50%;
}
.page-header .gnb {
}

.page-header .gnb ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
.page-header button {
  position: absolute;
  right: 0px;
  /* top: 50%;
  translate: 0 -50%; */
}
.svg-icon {
  width: 24px;
  height: 24px;
}

.svg-icon .moon {
  fill: #fff;
  transition: 0.5s;
}

.slogan-container {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
}

.slogan-container h2 {
  font-size: 4rem;
  position: relative;
  margin-bottom: 4rem;
}
.slogan-container h2::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  translate: -50% 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
}

.ico-scroll {
  position: absolute;
  left: 50%;
  bottom: 50px;
  translate: -50% 0;
  width: 40px;
  opacity: 0.5;
}

.ico-scroll{
    animation-name: pingpong;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; /*짝수번째 카운트는 거꾸로 진행*/
    animation-fill-mode: both;
    /* animation-play-state: paused; */

    /* animation: pingpong 0.6s ease-out infinite alternate both; */
}
.ico-scroll:hover{
    animation-play-state: paused;
}
@keyframes pingpong {
    from {translate: 0 0;}
    to {translate: 0 -15px;}
}