@charset "utf-8";

body {
    background-color: #2c2c2c;
    color: #fff;
    font-family: sans-serif;
}
.container {
    width: 100vw; /* viewport width */
    height: 100vh;/* viewport height */
    display: flex;
    flex-direction: column;
    gap: 90px;
    /* 메인축으로의 정렬*/
    justify-content: center;
    /* 교차축으로의 정렬 */
    align-items: center;
}

.container img {
    width: 90px;
}

.container p,
.slogan-container p {
    font-size: 18px;
    font-weight: 60px;
    text-align: center;
    line-height: 1.5; /*line height는 행간 1은 =100%라는 뜻 ex. 1.2=120%*/
    letter-spacing: 0.5px; /*letter spacing은 자간*/
}   



/*figma_login.html*/
.all-container {
    outline:1px solid gold;
    min-width:272px ;
    width: cal(100% - 100px);
    max-width: 400px;
    margin: auto 0; /* 상하 좌우
    */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 200px 0 70px;


}

.slogan-container {
    display: flex;
    background-color: gray;
}


.link-container{
    background-color: tomato;
    display: flex;
    flex-direction: column;
}

.link-container {
    width: 272px;
    height: 42px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.4px;
    line-height: 1;
}

.link-container a:first-child{
    background-color: #1e1e1e;
}

.link-container a:last-child {
    border: 2px solid #fff;
}

a {
    color: inherit;
    text-decoration: none;
}