@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  /* background-image: url("../images/full_bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  /* 축약형 */
  background: url("../images/dark_city.jpg") no-repeat fixed center center/cover;
  color: white;
}
.nav-container{
    width: 100%;
    max-width: 1536px;
    color: white;
    border: 1px solid red;
}
.nav-container ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.main-container h1{
    max-width: 272px;
    width: 100%;
    height: 92px;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 70px;
}
.search-container{
    max-width: 746px;
    width: 100%;
    height: 48px;
    border-radius: 40px;
    background: url("../images/icons/search_gr.svg") white no-repeat;
    display: flex;
    margin-bottom: 50px;
    padding-left: 48px;
}
input::placeholder{
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.second-container{
    display: flex;
    justify-content: center;

}
.second-container .circle{
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: white;
}
.second-container a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 110px;
    background-color: rgba(233, 233, 233, 0);
    transition: 0.1s;
    background: url("../images/icons/house.svg") grey no-repeat top right;
    background-size: 24px;
}
.second-container a:hover{
    background-color: rgba(233, 233, 233, 0.2);
    box-shadow: 0 0 2px rgb(33, 33, 33);
}