 body
{   width: auto;
    height: auto;
    background: black;
    
}
.header
{
    display: flex;
    align-items: center;
    margin: 16px 120px;
    gap: 700px;

}
.header-group
{
    display: flex;
    align-items: center;
}

.netflix-logo
{
    width: 140px;
    height: 40px;
}
 
h1
{
    color: aqua;
    width: 588px;
    height: 350px;
    text-align: center;
}
select
{
    background-color: white;
    width: 124px;
    height: 32px;
}
button
{
    width: 70px;
    height: 32px;
    background-color: red;
    border-radius: 6px;
}
